<h2>List of Cars</h2>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th class="col-md-1">Make</th>
      <th class="col-md-1">Model</th>
      <th class="col-md-1">Year</th>
      <th class="col-md-1">Doors</th>
      <th class="col-md-1">Color</th>
      <th class="col-md-1">Price</th>
      <th class="col-md-2">Guess</th>
      <th class="col-md-1"></th>
      <th class="col-md-1"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let guessCar of guessCars">
      <td class="col-md-1">{{ guessCar.car.make }}</td>
      <td class="col-md-1">{{ guessCar.car.model }}</td>
      <td class="col-md-1">{{ guessCar.car.year }}</td>
      <td class="col-md-1">{{ guessCar.car.doors }}</td>
      <td class="col-md-1">{{ guessCar.car.color }}</td>
      <td class="col-md-1">{{ guessCar.car.price | currency }}</td>
      <td class="col-md-2">
        <input type="number" [(ngModel)]="guessCar.priceGuess" placeholder="Enter your guess" class="form-control">
      </td>
      <td class="col-md-1">
        <button (click)="checkGuess(guessCar)" class="btn btn-primary">Submit</button>
      </td>
      <td class="col-md-1">
        <span [style.display]="guessCar.success ? 'block': 'none'" class="text-success">Great job!</span>
      </td>
    </tr>
  </tbody>
</table>
